<% include ../layout %>


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h1>Tu nombre es: <%=nombre %></h1>
        </div>
    </div>
</div>


<% include ../footer %>
